<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EnvTrack - Analyse und Vorhersage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="/scripts/analysis.js" defer></script>
    <script src="/scripts/navbar.js" defer></script>
    <script src="/scripts/SocketClient.js" defer></script>

</head>
<body>
<!-- Footer include -->
<%- include('../blocks/navbar') %>

<div class="wrapper">
    <div class="container mt-4">
        <div class="row">
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h5 class="card-title mb-0">Status</h5>
                    </div>
                    <div class="card-body">
                        <p class="fs-4 text-center" id="status">--</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Left Column: Chart -->
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <!-- Add a custom class for styling -->
                        <canvas id="sensorChart" class="w-100" style="max-height: 500px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer include -->
<%- include('../blocks/footer') %>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</html>